/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

body {
  font-family: "Roboto", serif;
  background-color: #d1dff6;
}

.navbar {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px;
}

.links {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.25s;
}

a:hover {
  color: #92b6f0;
}

i {
  color: #92b6f0;
}

.h1-span {
  color: #92b6f0;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0 3px 3px lightgray;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

@media screen and (max-width: 50rem) {
  .social-links {
    display: none;
  }

  .hamburger {
    display: inline;
    cursor: pointer;
  }

  .hamburger-icon {
    transition: 0.25s;
  }

  .hamburger-icon:hover {
    color: #000;
    transform: rotate(90deg);
  }

  .navbar {
    flex-direction: column;
    padding: 0;
  }

  .small-screen-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
  }

  .links {
    flex-direction: column;
    align-self: flex-start;
    gap: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }

  .links-active {
    height: 224px;
  }

  li {
    padding: 1rem 2rem;
    transition: 0.25s;
  }

  li:hover {
    background-color: #92b6f0;
    padding-left: 3rem;
  }

  a:hover {
    color: #fff;
  }

  a {
    z-index: 1;
    padding-inline: 80%;
    margin-inline: -80%;
    padding-block: 1rem;
    margin-block: -1rem;
  }
}
